@import url(button.css);
@import url(banner.css);
@import url(cards.css);
@import url(navbar.css);
h1	{
	margin: 0 ;
	color: #F26B6B;
	text-align: center;
}
h2{
	color: white;
	text-align: center;
}
body {
	margin: 0;
}